<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.osmand.parkingPlugin"
    android:versionCode="9"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="16" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
	<supports-screens  android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" 
	    android:xlargeScreens="true" android:anyDensity="true" />
    <application 
        android:icon="@drawable/icon"
        android:label="OsmAnd Parking" >
        <activity
            android:name=".ParkingPluginActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>
