   
   body{padding:0; margin:0; }
   a {color:#536DFE;}
   xmp, pre{white-space: pre-wrap;}
   
   h1{display:none;}
   
   .main{ margin:0 auto; font-family:arial; font-size:11pt; margin-top:30px;}
   @media(max-device-width: 799px)
   {
		.main{width:95%;}
		xmp, pre{max-width:95%;}
   }
   @media(min-width: 800px)
   {
		.main{width:800px;}
		xmp, pre{max-width:800px;}
   }
   
   .code{font-style:italic;}
   
   
   .list li, .textlist li{padding-bottom:10px; color:#000; }
   .list li a, .textlist li a{ text-decoration:none;} 
   .innerlist{list-style-type: none; padding-left:15px;}
   .subtitle {border-bottom:1px solid #F3F3F3; font-size:13pt; margin-top:10px; font-weight:bold;}
   .subtitle h2{font-size:13pt;}
   .blocksubtitle{font-weight:bold; margin-top:10px;}
   .blocksubsubtitle{font-weight:bold; margin-top:10px; font-size:9pt;}
    h1{background-color:#FF8F00; font-size:15pt; color:#fff; padding-left:15px; padding-top:30px; padding-bottom:15px; font-weight:bold; 
   -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; margin-top:-5px;}
   .content{padding:15px; padding-top:5px;}
   .content ul{padding-left:20px;}
   
   /************home page*****************/
   .mainlist{list-style-type: none; margin:0; padding:0;}  
   .mainlist li{border-bottom: 1px solid #F3F3F3; padding:15px; }
   .mainlist li.last{border-bottom:none;}
   h1.sub{background-color:#536DFE; margin-top:0;}   
   h1.sub small{display:block; font-weight:normal; color:#ACB9FF; margin-top:5px;}
   
   /*****features**********************/
   .featuretitle{border-bottom:1px solid #F3F3F3; font-size:14pt; margin-top:10px; font-weight:bold;}
   .features li{padding-bottom:10px;}  
  
  /*************frequently asked questions**************/  
   .toc .list li{color:#D2D2D2;}
   .toc .subtitle{font-weight:normal;}  
  
  .screenshot, .centeredimageblog img{max-width:95%; max-height:100%; padding:7px; border:1px solid #ddd; margin-bottom:20px;} 
  .imgcontainer, .centeredimageblog{margin:20px 30px;}
  
   .download{width:24px; height:24px; padding-left:15px; vertical-align: bottom;}
   
  .legendcontainer{margin:0;}
  .legend{width:100%;}
  
  .definition{font-weight:bold;}
  
  /***********help about****************************************************/
.about .surname{font-weight:bold;}
.about h3{margin-top:30px;}
