   
   body{padding:0; margin:0; }
   a {color:#536DFE;}
   xmp{white-space: pre-wrap;}
   .main{ margin:0 auto; font-family:arial; font-size:11pt;}
	.main{width:95%;}
	xmp{max-width:95%;}
   .code{font-style:italic;}
   
   .list li{padding-bottom:10px; color:#000; }
   .list li a{ text-decoration:none;} 
   .subtitle{border-bottom:1px solid #F3F3F3; font-size:13pt; margin-top:10px; font-weight:bold;}
   .blocksubtitle{font-weight:bold; margin-top:10px;}
    h1{background-color:#FF8F00; font-size:15pt; color:#fff; padding-left:15px; padding-top:30px; padding-bottom:15px; font-weight:bold; 
   -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; margin-top:-5px;}
   .content{padding:15px; padding-top:5px;}
   .content ul{padding-left:20px;}
   /************home page*****************/
   .mainlist{list-style-type: none; margin:0; padding:0;}  
   .mainlist li{border-bottom: 1px solid #F3F3F3; padding:15px; }
   .mainlist li.last{border-bottom:none;}
   h1.sub{background-color:#536DFE; margin-top:0;}   
   h1.sub small{display:block; font-weight:normal; color:#ACB9FF; margin-top:5px;}
   
   /*****features**********************/
   .featuretitle{border-bottom:1px solid #F3F3F3; font-size:14pt; margin-top:10px; font-weight:bold;}
   .features li{padding-bottom:10px;}  
  /*************frequently asked questions**************/  
   .toc .list li{color:#D2D2D2;}
   .toc .subtitle{font-weight:normal;}  
  
  .screenshot{max-width:95%; max-height:100%; padding:7px; border:1px solid #ddd;}
  .imgcontainer{margin:20px 30px;}
  .legendcontainer{margin:0;}
  .legend{width:100%;}
   /*div {border-width: 1px; padding: 10px;
   		border: groove; margin-left:auto;margin-right:auto; width:480pt}
   h3.help { text-align: center}
   h4.help { text-align: center}
   li.help { text-align:justify}
   img.help { width:auto; height:auto; max-width: 50%;}
   p.img {text-align: center}*/

