[submodule "Osmand-kernel/jpeg/jpeg_library"]
	path = Osmand-kernel/jpeg/jpeg_library
	url = https://android.googlesource.com/platform/external/jpeg.git
[submodule "Osmand-kernel/skia/skia_library"]
	path = Osmand-kernel/skia/skia_library
	url = https://android.googlesource.com/platform/external/skia.git
[submodule "Osmand-kernel/png/png_library"]
	path = Osmand-kernel/png/png_library
	url = https://android.googlesource.com/platform/external/libpng.git
[submodule "Osmand-kernel/freetype/freetype_library"]
	path = Osmand-kernel/freetype/freetype_library
	url = https://android.googlesource.com/platform/external/freetype.git
[submodule "Osmand-kernel/expat/expat_library"]
	path = Osmand-kernel/expat/expat_library
	url = https://android.googlesource.com/platform/external/expat.git
[submodule "Osmand-kernel/gif/gif_library"]
	path = Osmand-kernel/gif/gif_library
	url = https://android.googlesource.com/platform/external/giflib.git
