*.test.txt
*.render.xml
*.render_template.xml
poi_types.xml
*.map_styles_presets.xml
routing*.xml
rendering_types.xml
activities.json
countries.reginfo
regions.ocbf
h_*.png
g_*.png
mm_*.png
mx_*.png
OsmAndCore_wrapper.jar
OsmAndCore_*.aar
*.class
*.iml
.settings
.idea
**/.project
**/.classpath
out/
.kotlin/

# Huawei
agconnect-services.json
OsmAndHms.jks

# Android Studio
java_pid*.hprof
.attach_pid*
hs_err_pid*
/.idea
*.iml

# Gradle
.gradle
/local.properties

# MacOSX
.DS_Store

# Windows
Thumbs.db

# Output files
build

#Rendering test files
OsmAnd-java/src/test/resources/rendering/*
OsmAnd-shared/bin
# ApproximationTest resources
OsmAnd-java/src/test/resources/approximation/*
#Shared library resources
OsmAnd-shared/src/androidMain/resources/
OsmAnd-shared/src/jvmMain/resources/