# Android Studio
/.idea
*.iml

aarDependencies
libs/android*.jar
libs/com.*.jar
libs/net.osmand-*.jar
gradlew
gradle
gradlew.bat
# Gradle
.gradle
/local.properties

# MacOSX
.DS_Store

# Output
/build
