body {
    max-width: 100% !important;
    display: block;
    margin-top: 7%;
    margin-bottom: 0;
    margin-left: 7%;
    margin-right: 7%;
    background-color: white;
}

h2 {
    font-size: 2em;
    color: #727272;
    font-family: serif;
    font-weight: normal;
}

h3 {
  color: #212121;
  font-size: 1.5em;
  font-family: sans-serif;
  padding-top: 5%;
}

p {
  font-family: sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
}

li {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 250%;
}


img {
    width: 100%;
}

a {
  color: #237bff;
  text-decoration-color: #a3c8ff;
}

a.external-free {
  word-wrap: break-word;
  background-color: #f2f2f2;
}


.thumb-tright, .thumbinner {
    width: 100% !important;
}

.thumbcaption {
    padding-top: 3%;
    width: 100%;
    font-size: 1.1em;
    color: #727272;
    font-style: italic;
    text-align: center;
}
