   h3 { text-align: center}
   h4 { text-align: center}
   div {border-width: 1px; padding: 10px;
   		border: groove; margin-left:auto;margin-right:auto; }
   li { text-align:justify;"}
   img { max-width: 75%; width: auto; height: auto; }
   p.img {text-align: center}

