gradle
gradlew
gradlew.bat

aarDependencies

bin/
dist/
gen/
local.properties
obj/
out/
use/
src/org/drinkless/td/
assets/fonts/*

# Android Studio
/.idea
*.iml

# Gradle
.gradle
/local.properties

# MacOSX
.DS_Store

# Output
/build

# Project-specific
*.so
tdlib.zip
tdlib
