<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.anvisics.battery"
      android:versionCode="1"
      android:versionName="1.0">
      
	
    <uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission> 
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".BatteryViewActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <service android:permission="android.permission.BATTERY_STATS" android:process="@string/batter_name_service" android:label="@string/batter_name_service" android:name=".BatteryLogService">
<intent-filter><action android:name="com.anvisics.BatteryLogService"></action>
</intent-filter>
</service>
<receiver android:name=".BatteryStatusReceiver">
<intent-filter><action android:name="android.intent.action.BATTERY_CHANGED"></action>
</intent-filter>
</receiver>
</application>





<uses-permission android:name="android.permission.WRITE_OWNER_DATA"></uses-permission>
<uses-permission android:name="android.permission.READ_OWNER_DATA"></uses-permission>
</manifest> 