<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.osmand.nauticalPlugin"
	android:installLocation="auto"
	android:versionCode="12"
	android:versionName="1.2">

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />

	<application
		android:icon="@drawable/icon"
		android:label="OsmAnd Nautical">

		<activity
			android:name="net.osmand.nautical.NauticalActivity"
			android:exported="true"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">
			<!--
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			 -->
		</activity>

	</application>

</manifest>