<div id="header">
    <div class="clear"></div>
    <h1><a href="/" class="logo">Pinpoint</a></h1>
	<h3>Visualize your vehicles</h3>
    <div class="clear"></div>
    <%= link_to "Users", users_path %>
	<a href="/login" class="log_in">Login</a>
	<a href="/help" class="help">Help Center</a>
</div><!--end #header-->

