<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twofortyfouram.locale.sdk.client"
    android:installLocation="internalOnly">

    <application android:name="com.twofortyfouram.locale.sdk.client.test.TestApplication">

        <activity
            android:name="com.twofortyfouram.locale.sdk.client.test.condition.ui.activity.PluginActivityImpl"
            android:exported="false" />

        <activity
            android:name="com.twofortyfouram.locale.sdk.client.test.condition.ui.activity.FragmentPluginActivityImpl"
            android:exported="false" />

        <activity
            android:name=".test.condition.ui.activity.AppCompatPluginActivityImpl"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />

        <receiver
            android:name="com.twofortyfouram.locale.sdk.client.test.condition.receiver.PluginConditionReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
