<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.osmand.plus" android:installLocation="auto" android:versionName="@string/app_version" android:versionCode="90">
	<meta-data android:name="com.google.android.backup.api_key"
    android:value="AEdPqrEAAAAIqF3tNGT66etVBn_vgzpfAY1wmIzKV1Ss6Ku-2A" />
	
	<!--  comment change build properties for release & set targetSdkVersion="7", build and  reverse changes-->
	<!--  <uses-sdk android:minSdkVersion="3"/> -->
	<!--   uncomment it to allow different screen supports (large/small)-->
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"/>  

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
			
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/OsmandTheme"
		android:debuggable="true" android:name="net.osmand.plus.OsmandApplication"
		android:backupAgent="net.osmand.plus.OsmandBackupAgent" android:restoreAnyVersion="true">
		<activity android:name="net.osmand.plus.activities.MainMenuActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="net.osmand.plus.activities.MapActivity" android:label="@string/app_name" android:screenOrientation="unspecified"
			android:launchMode="singleTop">
			<intent-filter>
    			<data android:scheme="http" android:host="download.osmand.net" path="go"/>
    			<action android:name="android.intent.action.VIEW" />
    			<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
			</intent-filter>
		</activity>
		<activity android:name="net.osmand.plus.activities.SettingsActivity" android:label="@string/settings_activity" android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name="net.osmand.plus.activities.search.SearchActivity" android:label="@string/search_activity" ></activity>
        <activity android:name="net.osmand.plus.activities.NavigatePointActivity"></activity>
        <activity android:name="net.osmand.plus.activities.DownloadIndexActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/local_index_download"></activity>
        <activity android:name="net.osmand.plus.activities.ShowRouteInfoActivity" android:label="@string/show_route"></activity>
        <activity android:name="net.osmand.plus.activities.FavouritesListActivity"></activity>
        <activity android:name="net.osmand.plus.activities.FavouritesActivity"></activity>
        <activity android:name="net.osmand.plus.activities.PluginsActivity"></activity>
        <activity android:name="net.osmand.plus.activities.ContributionVersionActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/contribution_activity"></activity>
        
        
        <activity android:name="net.osmand.plus.activities.search.SearchPOIActivity" android:label="@string/searchpoi_activity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchPoiFilterActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchAddressOnlineActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchAddressActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchTransportActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchHistoryActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchCityByNameActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchRegionByNameActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchStreetByNameActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchStreet2ByNameActivity"></activity>
        <activity android:name="net.osmand.plus.activities.search.SearchBuildingByNameActivity"></activity>
		<activity android:name="net.osmand.plus.activities.EditPOIFilterActivity"></activity>
		<activity android:name="net.osmand.plus.activities.search.GeoIntentActivity"><intent-filter><action android:name="android.intent.action.VIEW"></action>
			<category android:name="android.intent.category.DEFAULT"></category>
			<data android:scheme="geo"></data>
			</intent-filter>
			<!-- requires read permission -->
			<!-- 
			<intent-filter android:label="OsmAnd">
			<action android:name="android.intent.action.VIEW" />
    			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="vnd.android.cursor.item/postal-address_v2" />
			</intent-filter>
			 -->
		</activity>
		<activity android:name="net.osmand.plus.development.TestVoiceActivity"></activity>
		<activity android:name="net.osmand.plus.activities.LocalIndexesActivity" android:label="@string/local_index_descr_title"></activity>
		<activity android:name="net.osmand.plus.osmedit.LocalOpenstreetmapActivity" android:label="@string/local_openstreetmap_descr_title"></activity>
		
		<service android:process="net.osmand.plus" android:label="@string/process_navigation_service" android:name="net.osmand.plus.NavigationService">
			<intent-filter><action android:name="net.osmand.plus.NavigationService"></action></intent-filter>
		</service>
		<receiver android:name="net.osmand.plus.OnNavigationServiceAlarmReceiver"/>
    	<activity android:name="net.osmand.plus.activities.OsmandBidForFixActivity"></activity>
		

</application>
</manifest> 
