<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.osmand" android:versionName="0.2.3" android:versionCode="6">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false" android:name=".activities.OsmandApplication" android:description="@string/app_description">
		<activity android:name=".activities.MainMenuActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.MapActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.SettingsActivity" android:label="@string/settings_activity"></activity>
		<activity android:name=".activities.search.SearchActivity" android:label="@string/search_activity" ></activity>
        <activity android:name=".activities.NavigatePointActivity"></activity>
        <activity android:name=".activities.DownloadIndexActivity"></activity>
        <activity android:name=".activities.ShowRouteInfoActivity"></activity>
        <activity android:name=".activities.FavouritesActivity" android:label="@string/favourites_activity"></activity>
        
        <activity android:name=".activities.search.SearchPOIActivity" android:label="@string/searchpoi_activity"></activity>
        <activity android:name=".activities.search.SearchPoiFilterActivity"></activity>
        <activity android:name=".activities.search.SearchAddressOnlineActivity"></activity>
        <activity android:name=".activities.search.SearchAddressActivity"></activity>
        <activity android:name=".activities.search.SearchTransportActivity"></activity>
        <activity android:name=".activities.search.SearchHistoryActivity"></activity>
        <activity android:name=".activities.search.SearchCityByNameActivity"></activity>
        <activity android:name=".activities.search.SearchRegionByNameActivity"></activity>
        <activity android:name=".activities.search.SearchStreetByNameActivity"></activity>
        <activity android:name=".activities.search.SearchStreet2ByNameActivity"></activity>
        <activity android:name=".activities.search.SearchBuildingByNameActivity"></activity>
		<activity android:name=".activities.EditPOIFilterActivity"></activity>
		<service android:process="com.osmand" android:label="@string/process_navigation_service" android:name=".NavigationService">
			<intent-filter><action android:name="com.osmand.NavigationService"></action></intent-filter>
		</service>
</application>

<uses-sdk android:minSdkVersion="3"/>

<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest> 
