/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
    margin-top:-42px;
    margin-left: -17px;
    position:absolute;
    left:0;
    top:0;
    display: block;
    text-align: center;
}

.awesome-marker .material-icons {
    font-size: 17px;
}

.awesome-marker-shadow {
    background: url('/images/markers-shadow.png') no-repeat 0 0;
    width: 36px;
    height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .awesome-marker-shadow {
        background-image: url('/images/markers-shadow@2x.png');
        background-size: 35px 16px;
    }
}

.awesome-marker i {
    color: #333;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.awesome-marker .icon-white {
    color: #fff;
}

/* Colors */

.awesome-marker-background {
    fill: #fff;
}

.awesome-marker:hover {
  top: 2px;
  opacity: 0.9;
}
