bin
c-src
OsmAnd-core.jar
protobuf-src/com
OsmAnd-core-android.jar
src/net/osmand/core/jni/*
result.*

# Android Studio
/.idea
*.iml

# Gradle
.gradle
/local.properties

# MacOSX
.DS_Store

# Output
/build
